*{
    box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

:root{
  --bgclr: #1d3557;
  --blue: #457b9d;
  --ltblue: #a8dadc;
  --white: #f1faee;
  --red: #e63946;
}

/* .reg-button{
position: relative;
left: 600px;

} */
.jumbotron{
    /* background-image: url('../images/hack.jpg') ; */
    background-color: #1d3557;
    /* height: 100vh; */
    background-size: cover;
    background-position: center;
    color: #ffffff;
    border-radius: 0px!important;
}

.logo-ecell{
  height: 4rem;
  width: auto;
    position: absolute;
    left: 70px;
    top: 30px;
}

.logo-wrap-sonae img{
  height: 6rem;
  width: auto;
  position: absolute;
    right: 70px;
    top: 30px;
}

.presenter{
    font-weight: 600;
    font-size: 2.5rem;
}

.presenter-sml{
    font-weight: 500;
    font-size: 2rem;
}
.titl{
    font-weight: 700;
    font-size: 4rem;
    color: var(--red);
    font-family: 'Montserrat', sans-serif;
}
@media(max-width:1028px){
    .logo-ecell{
      height: 3rem;
      width: auto;
       position: absolute;
       left: 20px;
       top: 20px;
    }
    .logo-wrap-sonae img{
      height: 3rem;
      width: auto;
      position: absolute;
        right: 20px;
        top: 20px;
    }
    .intro{
      margin-top: 3.5rem !important;
    }
    .presenter{
        font-size: 1.5rem;
    }
    .presenter-sml{
        font-size: 1rem;
    }
    .titl{
        font-weight: 600;
        font-size: 2rem;
        position: relative;
        bottom: 10px;
        
    }
    .hdg{
      font-size: 1.5rem;
    }
    .abthead, .incen-hd{
      font-size: 1.2rem;
    }
    .abtpara p, .incen-txt{
      font-size: 0.9rem;
      padding: 0.8rem;
    }
    .card-body{
      padding: 0.5rem;
    }
    .clg-btn{
      font-size: 1rem;
      margin: 1rem 0rem;
    }
    .feature-box{
      padding: 1rem !important;
    }
    .spon{
        height: 100px;
        width: 200px;
    }
    .partimg{
        height: 50px;
        width: 100px;
       
    }
}
.inimg{
    height: 13rem;
    width: auto;
    margin-bottom: 2rem;
    background-color: var(--white);
    border-radius: 2rem;
    
}

  #incentives{
    /* background-image: url('../images/simple.jpg'); */
    background-size: cover;
    background-position: center;
    background-color: var(--bgclr);
      color: var(--white);
      
      
      
  }
 
  .hdg{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

  }

.quote1{
    /* color: white; */
   font-family: cursive;
   margin-top: 0px;
   background-color: var(--blue);
   color: var(--ltblue);
   padding: 1em;
   width: 100%;
   font-size: 1.1em;
}
/* body{
    background-color: black;
} */
.aboutprog{
    margin-left:10px;
    margin-right: 10px;
}
.abtimg{
    height: 400px;
    width: 400px;
}
#about{
    /* background-image: url('../images/ai4.jpg'); */
    background-color: var(--bgclr);
    background-size: cover;
    background-position: center;
    
}
.abtcrd{
    background-image: url('../images/hackthon2.jpg');
}
.abtpara{
    background-color: transparent;
}
.lni{
   font-size: large;
}
.fas{
    padding-top:10px;
}
#cry{
    background-color: chocolate;
   color:white
}
.red{
    background-color: red;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: cornflowerblue;
}
.green{
    background-color: greenyellow;
}
.grey{
    background-color: grey;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: rgb(248, 63, 248);
}
.fa-4x{
    padding: 10px;
    color: black;
}
#sponsors{
   background-color: coral;
    text-align: center;
    padding: 3% 2%;
}
i{
    font-weight: 400;
}   
 
.sponsor-column{
    
    padding-top:10px;
    padding-bottom: 10px;
  }
.feature-box{
    padding: 0px 2%;
    text-align: center;
    color: black;
    
}
 body{
    background-color: var(--bgclr);
    color: white;
} 
.partimg{
    height: 100px;
    width: 200px;
   
}
.part-column{
    padding: 3% 2%; 
}
#team{
    background-color:rgb(55, 56, 54);
    color: chartreuse;
   
}
.speakimg{
    border: 5px solid chartreuse;
    height: 200px;
    width: 200px;
}
.speak-column{
    padding: 3% 2%;  
}
#FAQS{
    /* background-color: darkgray; */
    
    /* background-color: chocolate; */
    padding-bottom: 40px;
    color: white;
}
#contact-us{
    background-color: black;
    color: white;
    margin-bottom:0;
}
.fa-2x{
    margin-left: 4px;
    color: white;
}
#footer{
    /* background-color: black; */
    color: white;
    padding-bottom: 20px;
}

#cry{
    padding: 0% 2%; 
}


/*timeline css*/



*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.abtpara p{
  text-align: justify;
  color: var(--ltblue);
}

.incen-hd{
  color: var(--ltblue);
  font-weight: 700;
}

.incen-txt{
  color: var(--ltblue);
  font-weight: 500;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#timeline {
  white-space: nowrap;
  overflow-x: hidden;
  
 
 
  
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  
  transition: all 1s;
}
.abthead{
  padding: 10px;
  color: var(--ltblue);
  font-weight: 700;
}
.abtpara{
  padding: 10px;
  font-weight: 500;
}
.tmlnhead{
  text-align: center;
}

#details{
  background-color: var(--bgclr);
  text-align: center;
  /* background-image: url('../images/hackathon4.jpg'); */
  background-size: cover;
  background-position: center;
}
.detlist{
  text-align: center;
  list-style-type: none;
}
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li::after {
  content: '';
  position: absolute;
  top: 50%;
   left: calc(100% + 0.5px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
   left: calc(100% + 0.5px); 
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}





.logom{
    position:relative;
    top:30px;
}

/*navbar draggable*/

  #mydiv {
    
    position: absolute;
    z-index: 9;
    background-color: transparent;
    text-align: center;
    /* border: 1px solid #d3d3d3; */
    position:sticky;
    top:50px;
    left:900px;
    width:200px;
    height:0px;
  }

  .fa-arrow-circle-up{
      position: fixed;
      bottom:10px;
      right: 10px;
      z-index: 1px;

  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: transparent;
    color: #fff;
  }
  .navopt{
      color: white;
  }
/*navbar draggable end*/
#introduction{
    position:relative;
    /* bottom: 10px; */
}
#timeline{
    margin-top: 0px;
}

.faqans{
    color: black;
}


*{
  font-family: 'Montserrat', sans-serif;
}



/* FOOTER STYLES */
.footer{
  padding: 0px;
}

.hd-img{
  height: 180px;
  padding: 0px;
  color: var(--bgclr);
}

.img-bg{
  background-image: url(../../../assets/img/Chirag.svg);
}

.hd-dets{
  vertical-align: middle;
  padding: 0px;
}

.hd-info{
  font-size: 1.1rem;
  margin: 3px 0px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.hd-name{
  font-size: 1.5rem;
  color: var(--bgclr);
}

.port-name{
  font-size: 1.3rem;
  color: var(--bgclr);
}

.hd-mob .fa{
  font-size: 0.9em;
}

.hd-icons{
  display: none;
}

.hd-info i{
  margin: 5px;
  color: var(--bgclr);
}

.hd-info a{
  color: var(--bgclr);
}

.ecell-wrap h2{
  margin: 20px 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  /* background-color: #5C5F6D; */
  font-family: 'Merriweather Sans', sans-serif;
  word-spacing: 3px;
  color: var(--bgclr) !important;
}

.clg-btn{
  background-color: var(--ltblue);
  color: var(--bgclr);
  font-weight: 600;
}

.clg-btn:hover{
  background-color: var(--ltblue);
  color: var(--bgclr);
}

.social-wrap i{
  margin: 10px 20px;
  /* margin-top: 5px; */
  font-size: 30px;
  color: var(--bgclr);
}

.info-wrap{
  padding: 0px 10px;
}

.overall-wrap{
  padding: 0px;
}

.cari-wrap{
  padding: 0px;
  padding-left: 3px;
}

.hd-dets-wrap, .social-wrap, .ecell-wrap{
  padding: 0px;
}

.hd-dets-wrap{
  margin-top: 7px;
}

.events-info{
  color: var(--bgclr);
  /* margin: 0px 5px; */
  /* margin-top: 2px; */
  /* word-spacing: 5px; */
  font-size: 22px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
}

.events-info a{
  color: var(--bgclr);
  margin: 0px 10px;
  margin-top: 2px;
  word-spacing: 5px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}


.footer{
  background-color: var(--ltblue);
}


.hd-icons i{
  color: var(--bgclr);
}

/* Mobile View */


@media all and (max-width:576px){
    
  .ecell-logo{
      height: 60px;
  }

  .survey-head{
      font-size: 1.03rem;
  }   

  .main-nav{
      padding: 0px;
  }

  .thank{
      background-image: url("../../../assets/img/MaskGroup3@2x.png");    
  }

  .info-text{
      font-size: 17px;
  }

  .sur-info-lg{
      display: block;
      font-size: 10px;
  }

  .sur-info-mob{
      display: none;
  }

  .tag-wrap{
      padding: 0px;
  }

  .ecell-wrap h2{
      font-size: 0.9rem;
  }

  .events-info a{
      font-size: 10px;
      margin: 0px 4px;
  }

  .social-wrap i{
      font-size: 15px;
      margin: 10px 10px;
  }

  .hd-icons-lg{
      display: none;
  }

  .hd-icons{
      display: block;
      color: var(--white);
  }

  .hd-icons a{
      margin: 5px;
      color: var(--white);
  }

  .hd-img{
      padding: 10px;
      height: 100px;
  }

  .hd-info{
      font-size: 12px;
      text-align: center;
  }

  .hd-dets{
      padding-left: 0px;
  }

  .cari-wrap, .info-wrap{
      padding: 0px 2px;
  }

  .nav-link{
      font-size: 13px !important;
  }

  #manasvi .hd-name{
      margin: 0px 30px;
  }
  #manasvi .port-name{
      margin: 0px 30px;
  }
  #chirag .hd-name{
      margin: 0px 30px;
  }
  #chirag .port-name{
      margin: 0px 30px;
  }
  #bhandari .hd-name{
      margin: 0px 30px;
  }
  #bhandari .port-name{
      margin: 0px 30px;
  }

}


.intro{
  margin-top: 6rem;
}